*, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
}

a {
    text-decoration: none;
    color: #008000; 
}

a:hover {
    color: #bae9ba!important;
}

ul {
    list-style: inside;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
    .btn-back {
        font-size: 30px;
    }

    .container-page {
        gap: 5px;
    }

    .head-page {
        height: 100px;
    }

    .logo {
        width: 120px;
    }

    .logo a img {
        width: 80px;
    }

    .content-page {
        gap: 5px;
    }

    .modules-content {
        padding: 10px;
        flex-direction: column;
    }

    .modules-content .modules {
        width: 80%;
        margin-bottom: 10px;
    }

    .content-page .bg-img img {
        width: 80%;
    }

    .panel-links {
        padding: 10px;
    }

    footer .top {
        height: auto;
        flex-direction: column;
        align-items: center;
    }

    footer .logo img {
        width: 50%;
        margin-bottom: 10px;
    }

    footer .bottom p {
        font-size: 10px;
    }

    footer .creators ul li {
        font-size: 10px;
    }
}

@media screen and (max-width: 480px) {
    .btn-back {
        font-size: 20px;
    }

    .head-page {
        height: 80px;
    }

    .logo {
        width: 100px;
    }

    .logo a img {
        width: 60px;
    }

    .modules-content .modules {
        width: 90%;
    }

    .content-page .bg-img img {
        width: 90%;
    }

    .panel-links {
        padding: 5px;
    }

    footer .top {
        height: auto;
        flex-direction: column;
        align-items: center;
    }

    footer .logo img {
        width: 40%;
        margin-bottom: 5px;
    }

    footer .bottom p {
        font-size: 8px;
    }

    footer .creators ul li {
        font-size: 8px;
    }
}
/* End of Responsive Styles */

/* Remaining Styles */
.btn-back {
    height: 30px;
    font-size: 50px;
    text-align: center;
    align-self: flex-start;
    margin-left: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-page {
    width: 100%;
    min-height: 100vh;
    background-color: antiquewhite;
    color: #008000;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.head-page {
    width: 100%;
    height: 150px;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 140px;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    color: #bae9ba;
}

.logo a {
    width: 100%;
    height: 100%;
}

.logo a img {
    width: 100px;
    height: 100%;
}

.content-page {
    width: 100%;
    min-height: 100vh;
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.modules-content {
    width: 100%;
    height: 100%;
    padding: 20px 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.modules-content .modules {
    z-index: 1000;
    width: 30%;
    height: 20%;
    border: 2px solid #008000;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #008000;
}

.modules-content .modules:hover {
    cursor: pointer;
    background-color: #008000;
    color: #bae9ba!important;
    transform: translateY(-5px);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.content-page .bg-img {
    position: absolute;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-page .bg-img img {
    width: 30%;
    margin-top: 4em;
    opacity: .1;
}

.panel-links {
    width: 80%;
    height: 80%;
    border: 2px solid #008000;
    padding: 15px;
    display: flex;
}

.panel-links ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

footer {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #000;
    color: #008000; 
}

footer .top {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer .bottom {
    width: 100%;
    height: 20%;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .logo {
    width: 200px;
    height: 100%;
}

footer .logo img {
    width: 60%;
}

footer .bottom p {
    font-size: 12px;
}

footer .creators {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

footer .creators ul li{
    font-size: 12px;
    margin-top: 4px;
    color: #bae9ba;
}
